/*
    Author: Mark Yves Jocson
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;500;600;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Festive&family=Sora:wght@200;300;400;500;600;700;800&display=swap');


:root {
    --header-height: 3rem;
    /* Colors */
    --main-color: #178889;
    --main-color-dark: #08515a;
    --color-white: #FFF;
    --bg-color: #f8eeee;
    --color-gray: #41464b;
    --primary-darkblue: #001b2c;
    /*========== Font and typography ==========*/
    --font-main: 'Source Sans 3';
    --big-font-size: 5rem;
    --med-font-size: 3.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-light: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-full-bold: 800;
    /*========== Animation ==========*/
    --animate-delay: 2s;
}




/*====================================================
                        Footer
======================================================*/
body {
    background-color: #f7f7f7 !important;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--main-color);
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: var(--color-white);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
        letter-spacing: 1px;
        font-size: var(--h1-font-size);
        font-weight: var(--font-semi-bold);
        text-transform: capitalize;
        line-height: 3rem;
}

.footer-content p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 25px;
        font-size: var(--normal-font-size);
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
        margin: 0 10px;
}

.socials a {
        text-decoration: none;
        color: var(--color-white);
}

.socials a i {
            font-size: var(--h1-font-size);
            transition: color .4s ease;
}

.socials a:hover i {
            color: var(--main-color-dark);
}

.footer-bottom {
    background: var(--main-color-dark);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
        font-size: var(--normal-font-size);
        word-spacing: 2px;
        letter-spacing: 1px;
        text-transform: capitalize;
}

.footer-bottom span {
        opacity: .4;
        font-weight: 200;
}



/*====================================================
                        Home
======================================================*/
#home {
    height: 800px;
}

#home-cover {
    height: 100%;
    background-image: url("/image/bgbeach.jpg");
}

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wrapper{
    background-color:rgb(0,0,0,.5) !important;
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
    background-color:rgb(0,0,0,.3);
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}


#home-heading {
    padding-bottom: 60px;
}

 #home-heading h4 {
        color: var(--color-white);
        font-size: var(--h1-font-size);
        font-weight: var(--font-medium-bold);
        letter-spacing: 1px;
}

#home-heading h4 span {
            font-size: 40px;
            font-family: 'Festive', cursive;
}


 #home-heading h3 {
        color: var(--color-white);
        font-size: 70px;
        font-weight: var(--font-medium-bold);
        letter-spacing: 2px;
/*        font-family: 'Festive', cursive;*/
}


 #home-heading h3 span {
            color: var(--color-white);
            font-size: 100px;
            font-weight: 800;
            letter-spacing: 5px;
            font-family: 'Festive', cursive;
}

#home-btn {
    padding-top: 50px;
}

.btn-home {
    text-transform: uppercase;
    background-color: var(--main-color-dark) !important;
    color: var(--color-white) !important;
    letter-spacing: 2px;
    padding: 20px 30px !important;
}

.btn-home:hover {
        background-color: var(--color-white) !important;
        color: var(--main-color-dark) !important;
        transition: color .4s ease;
}


/*====================================================
                        Nav
======================================================*/
/*.header-color {
    background-color: var( --main-color-dark) !important;
}
*/
.text-dark-blue {
    /*    color: var(--main-color-dark) !important;*/
    color: var(--main-color) !important;
/*    font-size: var(--h2-font-size) !important;*/
    font-size: 18px !important;
    font-weight: 400;
}

a.nav-link.text-dark-blue.active {
   
    color: var(--main-color) !important;
    font-weight:700;
    letter-spacing:1px;
  
}

.nav-brand-txt {
    font-family: 'Festive', cursive;
    font-size: 30px !important;
    font-weight: 500 !important;
}
/*====================================================
                        Feature
======================================================*/
#feature-content {
    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-container {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 100%;
    height: 600px;
    background: url(/image/lakebg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.right {
    width: 50%;
    min-height: 400px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 5px;
    color: var(--color-gray);
    margin-left: -150px;
}

.right h1 {
        font-size: var(--h1-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--main-color-dark);
}

.right p {
        margin: 20px 0;
        font-weight: var(--font-light);
        line-height: 25px;
        font-size: var(--normal-font-size);
        letter-spacing: 1px;
        color: var(--main-color);
}

.section-heading {
    padding-top: 50px;
}

    .section-heading h3 {
        color: var(--main-color-dark);
    }

.btn-reg {
    background-color: var(--main-color) !important;
    color: var(--color-white) !important;
    letter-spacing: 2px;
    padding: 20px 30px !important;
}

.btn-reg:hover {
        background-color: var(--main-color-dark) !important;
        color: var(--color-white) !important;
        letter-spacing: 2px;
}

/* @media only screen and (max-width: 768px) {
  .feature-container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
} */
/*====================================================
                        Feature-Images
======================================================*/


.row {
    padding-bottom: 60px;
}

.feature-img-heading h4 {
    color: var(--main-color-dark);
    font-weight: var(--font-medium);
    margin: 20px 0;
}

.card-title {
    font-weight: var(--normal-font-size);
    letter-spacing: 1px;
    padding-bottom: 15px;
/*    background-color: rgba(8, 81, 90, .5);*/
    padding: 5px 0 10px 0;
    border-radius: 5px;
}


.card-img {
    height: 450px;
}

.btn-feature {
    padding: 10px 20px !important;
    font-size: var(--small-font-size) !important;
    letter-spacing: 1px !important;
}

.card-img-overlay {
    top: auto !important;
}



/*====================================================
                        Login
======================================================*/

.img-txt {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'Festive', cursive;

}
.img-txt h2 {
        font-size: 70px;
        font-weight: 800;
}

.btn-login {
    width: 100%;
    background-color: var(--main-color-dark) !important;
    color: var(--color-white) !important;

}

.btn-login:hover {
        background-color: var(--color-white) !important;
        color: var(--main-color-dark) !important;
        transition: color .4s ease;
        border-block-color: var(--main-color-dark) !important;
}

.txt-form {
    color: var(--main-color-dark) !important;
  
}

#login a{
    color: var(--main-color) !important;
}

.login-wrapper {
    padding-top: 50px;
}




/*====================================================
                        Package
======================================================*/


#package-cover {
    height: 350px;
    background-image: url("/image/packbg.jpg");
}



.bg-package-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    /* background-attachment: fixed; */
}


#package-content-box {
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgb(0,0,0,.3);
}

#package-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}

#package-heading h2 {
    color: var(--color-white);
    letter-spacing: 2px;
   
}

#package-heading h5 {
    color: var(--color-white);
    font-weight: var(--font-light);
    letter-spacing: 1px;
 
}

.filter-search {
    max-width: 996px !important;
    margin: 0 auto 15px;
    min-height: 80px;
    background: var(--color-white);
    box-shadow: 0 3px 60px 0 rgb(0 0 0 / 12%);
    position: relative;
    top: -55px;
}

.destination {
    float: left;
    height: 100%;
    padding: 35px 0px 0px 30px !important;
    position: relative;
}
.select-desti {
    width: 100%;
    padding: 0.375rem 0.75rem;
}

.min-price {
    float: left;
    height: 100%;
    padding: 35px 0px 0px 30px !important;
    position: relative;
}

.max-price {
    float: left;
    height: 100%;
    padding: 35px 0px 0px 30px !important;
    position: relative;
}

.form-select {
    border-color: var(--main-color-dark) !important;
}

.form-control {
    border-color: var(--main-color-dark) !important;
}

.search-btn {
    padding: 35px 0px 0px 50px !important;
}

.btn-search {
    padding: 9px 60px !important;
    font-size: var(--small-font-size) !important;
    letter-spacing: 1px !important;
    color: var(--color-white) !important;
    background-color: var(--main-color) !important;
    text-transform: uppercase;
}

.btn-search:hover {
        background-color: var(--main-color-dark) !important;
}


#package-inner .container {
    max-width: 996px !important;
}

.package-data {
    position: relative;
    background: var(--color-white) !important;
}

.book-btn {
    position: absolute;
/*    bottom: 20%;*/
    padding: 1.25rem;
}

.btn-submit{
    padding: 8px 45px !important;
}

.card-color-dark{
    color: var(--main-color-dark);
}
.card-color {
    color: var(--main-color);
}
/*====================================================
                        Register
======================================================*/
.img-reg {
    height: 100% !important;
}



.txt-form h1 {
    color: var(--main-color-dark) !important;
}

.input-validation-error {
    border: 2px solid #dc3545 !important; /* same red as text-danger */
    background-color: #faebd7 !important; /* antique white */
}


/*====================================================
                        Booking Details
======================================================*/

.booking-inner {
    color:var(--main-color-dark);
}


.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(23, 136, 137, 0.1);
}

.table thead th {
    border-bottom: 2px solid rgb(23, 136, 137, 0.5) !important;
    
}

.table td, .table th {
    border-top: 1px solid rgb(23, 136, 137, 0.5) !important;
}

.head-color{
    color: var(--main-color) !important;
}

.img-height{
    height: 350px !important;
}